.footer {
  position: sticky;
  top: 100vh;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 35px 0;
  font-size: 18px;

  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 40px;
    @include for-mobile-layout {
      gap: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  @include for-mobile-layout {
    border-top: 1px solid rgba(#979797, 0.1);
  }
}
