//note: popup libary creates this classes of content, overlay ...

.popup-content {
  display: flex;
  flex-direction: column;
  max-height: 85%;
  overflow: scroll;
  .dish-modal {
    background: white;
  }
  @include for-mobile-layout {
    max-height: 100%;
    height: 100%;
    width: 100%;
  }
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.8);
}
