.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  background-color: rgba($background-secondary-color, 0.9);
  padding: 70px 0;
  .section-title {
    margin-bottom: 20px;
  }
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: 1100px;
  }
  .about-us-middle-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .about-us-logo {
    margin-right: 130px;
    height: 170px;
    width: 180px;
  }
  .about-us-description {
    max-width: 540px;
    font-size: 22px;
    align-content: end;
    letter-spacing: 1.7px;
  }
  .download-buttons {
    gap: 15px;
    .download-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-self: center;
      gap: 15px;
      background: none;
      height: 50px;
      width: 180px;
      border: solid 1px black;
      border-radius: 10px;
      img {
        height: 25px;
        width: 30px;
      }
    }
  }
  @include for-mobile-layout {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
    .section-title {
      align-self: center;
      margin-bottom: 10px;
    }
    .about-us-content {
      justify-content: center;
      width: 100%;
      text-align: center;
      .about-us-middle-content {
        flex-direction: column;
        justify-content: center;
        margin-bootom: 0;
        .about-us-logo {
          margin: 35px 0 35px 0;
          height: 130px;
          width: 140px;
        }
        .about-us-description {
          font-size: 14px;
          margin: 0 35px;
        }
      }
      .download-buttons {
        margin: 0 auto 0;
        .download-button {
          font-size: 9px;
          height: 40px;
          width: 130px;
          border: solid 1px black;
          border-radius: 10px;
          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}
