.recommended-restaurant-section {
  width: 100%;
  max-width: 1100px;
  margin: 0 0 0 0;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  .all-restaurant-link {
    margin-top: 30px;
    white-space: nowrap;
    font-family: HelveticaNeue;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 10px;
    img {
      width: 24px;
      height: 18px;
    }
  }
  .section-title {
    margin-bottom: 40px;
  }

  .card {
    width: 360px;
    height: 360px;
    padding-bottom: 25px;
    img {
      height: 220px;
    }
  }
  @include for-mobile-layout {
    margin-top: 0px;
    margin-bottom: 100px;
    .all-restaurant-link {
      display: none;
    }

    .card {
      gap: 0px;
      background-color: $card-mobile-background-color;
      width: 200px;
      height: 340px;
      font-size: 20px;
      .card-title {
        font-size: 25px;
      }
      img {
        height: 200px;
        width: 200px;
      }
    }
  }
}
