.signature-dishes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  max-width: 1100px;
  gap: 40px;
  margin-bottom: 90px;
  overflow-x: hidden;
  .above-card-title {
    font-size: 30px;
    font-family: HelveticaNeue;
    margin-bottom: 20px;
  }
  .card {
    width: 360px;
    height: 650px;
    .card-title {
      min-height: 115px;
      display: flex;
      padding: 10px;
    }
    .sensitivities-icons {
      height: 30px;
      img {
        width: 40px;
        object-fit: fill;
      }
    }
    .dish-footer {
      height: 100%;
      padding-bottom: 5px;
      .dish-description {
        letter-spacing: 1.6px;
        @include limit-text-lines(4);
      }

      .price-line {
        width: 112px;
        height: 1px;
        border-bottom: solid 0.5px #979797;
      }
      .price {
        margin: 0;
        .price-symbol {
          margin: 0 1px;
          font-family: Courier New, Courier, monospace;
        }
      }
    }
  }
  //  Navigation On Swiper
  .swiper-button-next {
    top: 30%;
    color: black;
    padding: 30px;
    border-radius: 40px;
    background: rgba(white, 0.4);
  }
  .swiper-button-prev {
    top: 30%;
    color: black;
    padding: 30px;
    border-radius: 40px;
    background: rgba(white, 0.4);
  }
  .swiper-button-next:hover {
    background: rgba(white, 0.6);
  }
  .swiper-button-prev:hover {
    background: rgba(white, 0.6);
  }
  //
  @include for-mobile-layout {
    margin-bottom: 100px;
    gap: 15px;
    .swiper-wrapper:first-child {
      margin-inline-start: 20px;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-button-prev {
      display: none;
    }
    .above-card-title {
      font-size: 16px;
    }
    .card {
      background-color: $card-mobile-background-color;
      width: 260px;
      height: 470px;
      font-size: 17px;
      .card-title {
        min-height: 85px;
        max-height: 85px;
        letter-spacing: 1.7px;
        max-width: 200px;
        font-size: 27px;
        padding: 10px;
      }
      .sensitivities-icons {
        height: 30px;
        img {
          width: 40px;
        }
      }
      .dish-footer {
        height: 100%;
        padding-bottom: 5px;
        .dish-description {
          letter-spacing: 1.15px;
          font-size: 17px;
          line-height: 20px;
        }
        .price-line {
          width: 75px;
          border: solid 0.5px #979797;
        }
        .price {
          font-family: HelveticaNeue;
          font-size: 25px;
          margin: 0 5px;
          .price-symbol {
            font-family: Arial;
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
