/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-narrow) and (max-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin indent-text($text-align, $line-height: 1, $letter-spacing: 1px) {
  line-height: $line-height;
  text-align: $text-align;
  letter-spacing: $letter-spacing;
}

@mixin limit-text-lines($lines-number) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines-number; 
  -webkit-box-orient: vertical;
}

@mixin layoutGTCHome($max) {
  grid-template-columns:
    $layoutPaddingHome
    1fr
    $layoutPaddingHome;
}
