
/* COLOR PALLETE */
$primary-text-color: #000000;
$background-color: #de9200;
$background-secondary-color:#fafafa;
$mobile-link-button-color:rgba(232, 196, 122, 0.8);
$card-mobile-background-color:rgba(#f7e0b2,0.7);
$card-background-color:#f9f4ea;
$header-border-color:#979797;



/* LAYOUT */
$layoutPadding: 80px;

/* LAYOUT-HOME */
$layoutPaddingHome: 150px;

/* LAYOUT-DETAILS */
$layoutPaddingDetails: 230px;
$layoutimgsheight:390px;
$layoutimgswidth:1120px;


/* LAYOUT BREAKPOINTS */
$break-narrow: 500px;
$break-normal: 650px;
$break-wide: 980px;



